#skillsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4em;

}

.title {
  font-size: 2em;
  color: #EEEEEE;
  padding: 1rem;
}

.skills {
  width: 100vw;
  max-width: 70rem;
  padding: 3rem 3rem;
  border-radius: 2em;
  display: flex;
  background-color: #76ABAE;

}

.cards {
  width: 100vw;
  border: 1em solid #222831;
  border-radius: 2em;
  margin: 1rem 1rem 1rem 1rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(1, 1, 1, 1);
  background-color: #EEEEEE;
}

.cardTitle {
  font-size: 1.7em;
  margin-bottom: 2em;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #222831;
  padding: 2em;
}

.skill {
  display: flex;
}