#contact {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.contactTitle {
    color: #EEEEEE
}

.contactDesc {
    padding: 1rem;
    font-size: medium;
    font-weight: 300;
    color: #EEEEEE;
}

.contactForm {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90vw;
    max-width: 60rem;
}

.name, .email, .msg {
    font-size: medium;
    width: 100%;
    max-width: 40rem;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: #EEEEEE;
}

.submitBtn {
    background-color: #76ABAE;
    border: none;
    border-radius: 0.5rem;
    margin: 2rem;
    padding: 0.75rem 3.5rem;
}

.links {
    color: #222831;
    display: flex;
    flex-wrap: wrap;
}

.link {
    padding: 0.7em;
    font-size: 2em;
    color: #EEEEEE;
    object-fit: cover;
}