.navBar {
    height: 5rem;
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    background-color: #222831;

}

.logo {
    object-fit: cover;
    height: 7rem;
    width: 8rem;
}

.desktopMenuListItem {
    margin: 1rem;
    cursor: pointer;
    color: #EEEEEE
}

.desktopMenuListItem:hover {
    color: #EEEEEE;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #EEEEEE
}

.desktopMenuBtn {
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    color: #76ABAE;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid #76ABAE;
}

.mobMenu {
    display: none;
    object-fit: cover;
    height: 1.8rem;
}

.navMenu {
    position: absolute;
    top: 4rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    height: fit-content;
    min-width: 15rem;
    background-color: #76ABAE;
    border-radius: 1rem;
}

.listItem {
    color: #EEEEEE;
    padding: 0.5rem 3rem;
    margin: 0.25rem;
    background-color: #76ABAE;
}

@media screen and (max-width: 720px) {
    .mobMenu {
        display: flex;

    }
    .desktopMenu {
        display: none;
    }
    .desktopMenuBtn {
        display: none;
    }
}