#intro {
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
    margin: 2rem 2rem;
    margin-bottom: 4em;
}

.introContent {
    font-size: 1.3em;
    width: 70%;
    height: 10em;
    padding: 1rem;
    display: flex;
    flex-direction: column;

}

.hello {
    font-size: 2em;
    color: #76ABAE;
}

.introName {
    padding: 0.5em;
    color: #76ABAE;
    font-size: 2em;
}

.introText {
    font-size: 1.2em;
    color: #EEEEEE
}



.selfie {
    z-index: 1;
}

.selfie {
    width: 250px;
    height: 250px;
}

.button {}